*~
.*.swp
*.mexa64
*.mexw64
*.mat
**/html
*.asv
experiment/choose-fill
experiment/fill-initial-guess
experiment/mark-patched-image-file
experiment/matfile-performance
experiment/pattern_fill
experiment/thin-skin-fill-first
experiment/thin-skin-mirror
experiment/thin-skin-repeat
experiment/warp-padding-dev


